$gray-dark: #3c3a37;
$gray: #5c5955;
$gray-light: #918a81;
$gray-lighter: #efeeec;
$gray-lightest: #f9f7f7;

$brand-primary: #9f2727;
$brand-success: #0275d8;

$input-color: $gray-dark;

.navbar .navbar-brand {
  color: #fff;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
}
